
.banner {
  width: 100%; /* Ensures it stretches fully */
  height: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd; 
  padding: 10px 0;

}

.banner img {
  width: 40%; /* Makes sure the image stretches */
  height: 100%;
  object-fit: cover; /* Ensures the image fills without distortion */
}

.header {
  text-align: center;
  margin-top: 20px; 
  font-size: 3rem;
  color: #1b155f;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
